h1 {
  text-align: center;
}
li {
  padding: 10px;
  margin: 10px;
  background: #d7e7fa;
  font-size: 20px;
}
.label {
  font-weight: bold;
}
.create-update-form {
  padding: 5px;
  margin: 5px;
  background: rgb(72, 255, 0);
}
.form-group {
  margin-bottom: 5px;
}
img {
  margin-left: 40%;
  margin-right: 40%;
}
